@import '../variables';

.#{$prefix}-ui-playbacktimelabel {
  @extend %ui-label;

  margin-right: 10px;
  font-family: Roboto Mono, serif;
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;

  &:nth-of-type(1) {
    &::after {
      content: '/';
      display: inline-block;
      margin-left: 5px;
    }
  }


  &.#{$prefix}-ui-playbacktimelabel-live {
    cursor: pointer;

    &::before {
      color: $color-secondary;
      content: '●';
      padding-right: .2em;
    }

    &.#{$prefix}-ui-playbacktimelabel-live-edge {
      &::before {
        color: $color-red;
      }
    }
  }
}
