@import 'variables';

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: 10.5px; //distance of label from timeline
  pointer-events: none;
  position: absolute;
  text-align: center;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    left: -15%;
    position: relative;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
  }

  .#{$prefix}-seekbar-label-inner {
    border: 1px solid $color-smashcut-gray;

    .#{$prefix}-ui-label-arrow {
      border: .5em solid transparent;
      border-top-color: $new-color-smashcut-red;
      height: 0;
      left: 16%;
      margin-left: -.65em;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
    }

    &.no-border {
      border: none !important;
    }

    > .#{$prefix}-container-wrapper {
      position: relative;
    }
  }

  .#{$prefix}-seekbar-thumbnail {
    width: 210px !important;
  }

  .#{$prefix}-seekbar-label-metadata {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;

    > .#{$prefix}-container-wrapper {
      padding: 20px;
      font-family: Roboto, serif;
      border: solid $new-color-smashcut-red;
      border-width: 0 0 2px 0;
    }

    &.marker {
      > .#{$prefix}-container-wrapper {
        background: $color-white;
        color: $color-black;
        width: 100%;
        height: auto;
      }
    }
  }

  .#{$prefix}-seekbar-label-metadata-title {
    width: 100%;

    > .#{$prefix}-container-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      font-size: .8em;
    }

    .#{$prefix}-seekbar-label-avatar {
      display: block;
      margin-right: 8px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
      }
    }

    .#{$prefix}-seekbar-label-metadata-title-marker {
      > .#{$prefix}-container-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .#{$prefix}-seekbar-label-marker-type {
          display: block;
          text-align: left;
          font-size: 12px;

          &.student, &.default {
            &:before {
              content: 'Student';
            }
          }

          &.mentor {
            &:before {
              content: 'Mentor';
            }
          }

          &.staff {
            &:before {
              content: 'Staff';
            }
          }
        }

        .#{$prefix}-seekbar-label-title {
          display: block;
          word-break: break-all;
          white-space: normal;
          font-weight: bold;
          font-size: 16px;

          &.note {
            &::before {
              content: '';
              position: relative;
              top: 2px;
              display: inline-block;
              width: 12px;
              height: 16px;
              background-image: svg('assets/skin-modern/images/lightbulb-regular.svg', '[fill]: #{$color-black}');
              margin-right: 12px;
            }
          }
        }
      }
    }
  }

  .#{$prefix}-seekbar-label-metadata-content {
    margin-top: 8px;

    .#{$prefix}-seekbar-label-time {
      display: block;
      line-height: .8em;
    }

    .#{$prefix}-seekbar-label-comment {
      display: block;
      font-size: 14px;
      margin-bottom: .3em;
      text-align: left;
      white-space: normal;
      line-height: 1.29;

      p {
        margin: 0;
      }
    }
  }

}
