@import '../variables';

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: 1.5em; //distance of label from timeline
  pointer-events: none;
  position: absolute;
  text-align: center;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    left: -15%;
    position: relative;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
  }

  .#{$prefix}-seekbar-label-inner {
    border: 1px solid $color-smashcut-gray;
    // bottom arrow from http://www.cssarrowplease.com/
    &::after {
      border: .5em solid transparent;
      border-top-color: $color-smashcut-gray;
      content: ' ';
      height: 0;
      left: 15%;
      margin-left: -.5em;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
    }

    &.no-border {
      border: none !important;
    }

    > .#{$prefix}-container-wrapper {
      position: relative;
    }
  }

  .#{$prefix}-seekbar-thumbnail {
    width: 6em;
  }

  .#{$prefix}-seekbar-label-logo {
    @include hidden;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-image: svg('assets/skin-modern/images/smashcut/edited/footer_logo.svg');
  }

  .#{$prefix}-seekbar-label-metadata {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;

    > .#{$prefix}-container-wrapper {
      padding: .7em;
      color: $color-white;
      font-family: Roboto, serif;
    }

    &.marker {
      > .#{$prefix}-container-wrapper {
        background: $color-smashcut-gray;
        width: 100%;
        height: auto;
      }
    }
  }

  .#{$prefix}-seekbar-label-metadata-title {
    width: 100%;

    > .#{$prefix}-container-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      font-size: .8em;
    }

    .#{$prefix}-seekbar-label-avatar {
      display: block;
      margin-right: 8px;
      img {
        width: 32px;
        height: 32px;
        border-radius: 16px;
      }
    }

    .#{$prefix}-seekbar-label-metadata-title-marker {
      > .#{$prefix}-container-wrapper {
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .#{$prefix}-seekbar-label-marker-type {
          display: block;
          text-align: left;
          font-size: 12px;

          &.student {
            color: $color-smashcut-yellow;
            &:before {
              content: 'Student';
            }
          }

          &.mentor {
            color: $color-smashcut-blue;
            &:before {
              content: 'Mentor';
            }
          }
        }

        .#{$prefix}-seekbar-label-title {
          display: block;
          word-break: break-all;
          white-space: normal;
          font-weight: bold;
          font-size: 16px;
        }
      }
    }
  }

  .#{$prefix}-seekbar-label-metadata-content {
    margin-top: 8px;

    .#{$prefix}-seekbar-label-time {
      display: block;
      line-height: .8em;
    }

    .#{$prefix}-seekbar-label-comment {
      display: block;
      font-size: 14px;
      margin-bottom: .3em;
      text-align: left;
      white-space: normal;
      line-height: 1.29;
    }
  }

}
