@import '../variables';

.#{$prefix}-ui-seekbar-label {
  @extend %ui-container;

  @include hidden-animated;

  bottom: 100%;
  left: 0;
  margin-bottom: 1em;
  pointer-events: none;
  position: absolute;
  text-align: center;

  // Center container on left edge to get it centered over timeline position
  %center-on-left-edge {
    margin-left: -50%;
    margin-right: 50%;
    position: relative;
  }

  > .#{$prefix}-container-wrapper {
    @extend %center-on-left-edge;
  }

  .#{$prefix}-seekbar-label-inner {
    border-bottom: .15em solid $color-smashcut-orange;

    // bottom arrow from http://www.cssarrowplease.com/
    &::after {
      border: solid transparent;
      border-color: transparent;
      border-top-color: $color-smashcut-orange;
      border-width: .3em;
      content: ' ';
      height: 0;
      left: 50%;
      margin-left: -.5em;
      pointer-events: none;
      position: absolute;
      top: 100%;
      width: 0;
    }

    > .#{$prefix}-container-wrapper {
      position: relative;
    }
  }

  .#{$prefix}-seekbar-thumbnail {
    width: 6em;
  }

  .#{$prefix}-seekbar-label-metadata {
    bottom: 0;
    display: block;
    position: absolute;
    width: 100%;

    > .#{$prefix}-container-wrapper {
      padding: .7em;
    }
  }

  .#{$prefix}-seekbar-label-metadata-title {
    width: 100%;

    > .#{$prefix}-container-wrapper {
      align-items: center;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: relative;
      font-size: .8em;
    }

    .#{$prefix}-seekbar-label-avatar {
      display: block;
      margin-right: 8px;
    }

    .#{$prefix}-seekbar-label-marker-type {
      display: block;
      position: absolute;
      right: 0;
      top: 0;

      &.student {
        background-color: $color-smashcut-orange;
        border-radius: 50%;
        height: 8px;
        width: 8px;
      }

      &.mentor {
        background-color: $color-smashcut-orange;
        height: 14px;
        width: 3px;
      }
    }

    .#{$prefix}-seekbar-label-title {
      display: block;
      white-space: normal;
      font-weight: bold;
    }
  }

  .#{$prefix}-seekbar-label-metadata-content {
    margin-top: 8px;

    .#{$prefix}-seekbar-label-time {
      display: block;
      line-height: .8em;
    }

    .#{$prefix}-seekbar-label-comment {
      display: block;
      font-size: .7em;
      margin-bottom: .3em;
      text-align: left;
      white-space: normal;
    }
  }

}
