@import '../variables';
@import '../mixins';

.#{$prefix}-ui-skipbutton-backward,
.#{$prefix}-ui-skipbutton-forward {
  @extend %ui-button;

  margin-left: 5px;
  margin-top: 16px;
  height: 22px;

  &:hover {
    @include svg-icon-shadow;
  }

  &.#{$prefix}-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

}

.#{$prefix}-ui-skipbutton-forward {
  @extend %ui-button;

  background-image: svg('assets/skin-modern/images/smashcut/edited/skip-forward.svg', '[color]:white');
}

.#{$prefix}-ui-skipbutton-backward {
  @extend %ui-button;

  background-image: svg('assets/skin-modern/images/smashcut/edited/skip-backward.svg', '[color]:white');
}
