@import '../variables';

.#{$prefix}-ui-volumeslider {
  @extend %ui-seekbar;

  $bar-inset: .41em;
  $border-radius: 3px;

  .#{$prefix}-seekbar {
    position: relative;
    top: 4px;
    background: $color-white;
    height: 3px;
    .#{$prefix}-seekbar-backdrop {
      @extend %bar;
      background-color: transparentize($color-white, .4);
      border-color: transparentize($color-white, .9);
      border-radius: $border-radius;
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-bufferlevel {
      @extend %bar;
      background-color: transparentize($color-white, 0);
      border-radius: $border-radius;
      margin: $bar-inset 0;
      visibility: hidden;
    }

    .#{$prefix}-seekbar-seekposition {
      @extend %bar;
      border-radius: $border-radius;
      margin: $bar-inset 0;
      visibility: hidden;
    }

    .#{$prefix}-seekbar-playbackposition {
      @extend %bar;
      background-color: $color-white;
      border-radius: $border-radius;
      margin: $bar-inset 0;
    }

    .#{$prefix}-seekbar-playbackposition-marker {
      background-image: svg('assets/skin-modern/images/smashcut/edited/dot-volume.svg', '[fill]:#fff');
      display: initial;
    }
  }
}
