@import '../variables';
@import '../mixins';

.#{$prefix}-ui-volumetogglebutton {
  @extend %ui-button;

  background-image: svg('assets/skin-modern/images/smashcut/ronik/audio_max.svg', '[fill]:white');

  &.#{$prefix}-low {
    background-image: svg('assets/skin-modern/images/smashcut/ronik/audio_med.svg', '[fill]:white');
  }

  &.#{$prefix}-on {
    background-image: svg('assets/skin-modern/images/smashcut/ronik/audio_off.svg', '[fill]:white');
  }
}
