@import 'variables';
@import 'mixins';

&.#{$prefix}-ui-skin-smallscreen {
  font-size: 1.2em;

  .#{$prefix}-ui-settings-panel {
    @include layout-cover;
    @include layout-center-children-in-container;

    .#{$prefix}-ui-settings-panel-page {
      min-width: 15em;
    }

    display: flex;

    > .#{$prefix}-container-wrapper {
      margin: auto;
    }

    .#{$prefix}-ui-settings-panel-item {
      text-align: left;
    }

    .#{$prefix}-ui-closebutton {
      margin: 2em;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .#{$prefix}-ui-controlbar {
    padding-top: 0 !important;
    bottom: 0;
    background: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    &.#{$prefix}-hidden {
      display: none;
    }
    & > div {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      background-image: linear-gradient(to top, rgba(0, 0, 0, 0.85) 0%, rgba(0, 0, 0, 0.7) 48%, rgba(0, 0, 0, 0.85));
      .#{$prefix}-controlbar-1 {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        & > div {
          width: 100%;
          padding: 10px;
          display: flex;
          justify-content: flex-end;
          align-items: center;
          button {
            margin: 0 5px;
            &::before {
              font-size: 22px !important;
            }
            &:first-child {
              font-size: 18px !important;
              margin-right: auto;
            }
          }
        }
      }
      .#{$prefix}-controlbar-2 {
        height: 100px;
        font-size: unset;
        display: flex;
        justify-content: center;
        align-items: center;
        & > div {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100px;
          button {
            margin: 0 10px;
            height: 100px;
            &::before {
              font-size: 30px !important;
            }
          }
        }
      }
      .#{$prefix}-controlbar-3 {
        width: 100%;
        .#{$prefix}-ui-seekbar {
          height: unset;
          margin: 0;
          div {
            border-radius: 0;
          }
          .#{$prefix}-seekbar {
            position: static;
            .#{$prefix}-seekbar-playbackposition-marker {
              display: block;
              background: #fff;
              border-radius: 152px;
              z-index: 123;
              height: 12px;
              width: 12px;
              margin-top: -3px;
            }
            .#{$prefix}-seekbar-markers {
              display: none;
            }
          }
        }
        .#{$prefix}-controlbar-time-and-fullscreen {
          & > div {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0 20px 0px;
            span {
              font-size: 14px !important;
            }
            & > button {
              margin-left: auto;
              padding-bottom: 20px;
              &::before {
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }

  // Do not display watermark in mobile view
  .#{$prefix}-ui-watermark {
    display: none;
  }

  .#{$prefix}-ui-titlebar {
    > .#{$prefix}-container-wrapper {
      display: flex;

      .#{$prefix}-ui-label {
        display: inline;
        font-size: 1em;
      }

      .#{$prefix}-label-metadata-title {
        width: 100%;
      }
    }
  }

  .#{$prefix}-ui-cast-status-overlay {
    background: $color-background; // Remove background Cast icon

    .#{$prefix}-ui-cast-status-label {
      top: 30%;
    }
  }

  // Decrease huge play button size and replace icon with normal play icon
  .#{$prefix}-ui-hugeplaybacktogglebutton {
    .#{$prefix}-image {
      background-image: svg('assets/skin-modern/images/play.svg');
      background-size: 4em;
    }
  }

  // When casting, also display pause icon and disable animations because the transition doesn't look right
  // sass-lint:disable nesting-depth
  &.#{$prefix}-remote-control {
    .#{$prefix}-ui-hugeplaybacktogglebutton {
      &.#{$prefix}-on {
        .#{$prefix}-image {
          animation: none;
          background-image: svg('assets/skin-modern/images/pause.svg');
          visibility: visible;
        }
      }

      &.#{$prefix}-off {
        .#{$prefix}-image {
          animation: none;
        }
      }
    }
  }

  // Adjustments for screen width x <= 400
  &.#{$prefix}-layout-max-width-400 {
    .#{$prefix}-ui-settings-panel,
    .#{$prefix}-ui-hugeplaybacktogglebutton,
    .#{$prefix}-ui-hugereplaybutton,
    .#{$prefix}-ui-errormessage-overlay,
    .#{$prefix}-ui-buffering-overlay,
    .#{$prefix}-ui-subtitle-overlay,
    .#{$prefix}-ui-cast-status-overlay {
      font-size: .6em;
    }
  }

  // Adjustments for screen width 400 < x <= 600
  &.#{$prefix}-layout-max-width-600 {
    .#{$prefix}-ui-settings-panel,
    .#{$prefix}-ui-hugeplaybacktogglebutton,
    .#{$prefix}-ui-hugereplaybutton,
    .#{$prefix}-ui-errormessage-overlay,
    .#{$prefix}-ui-buffering-overlay,
    .#{$prefix}-ui-subtitle-overlay,
    .#{$prefix}-ui-cast-status-overlay {
      font-size: .8em;
    }
  }

  // Adjustments for screen width x <= 600
  // sass-lint:disable no-empty-rulesets
  &.#{$prefix}-layout-max-width-400,
  &.#{$prefix}-layout-max-width-600 {
    // none yet
  }

  // IE9 compatibility: fallback for missing flexbox support
  // sass-lint:disable nesting-depth
  &.#{$prefix}-no-flexbox {
    .#{$prefix}-ui-titlebar {
      > .#{$prefix}-container-wrapper {
        border-spacing: .5em 0;
        display: table;
        width: 100%;

        > * {
          @include hidden; // Add hidden here too, else it is overwritten by display: table-cell

          display: table-cell;
          vertical-align: middle;
          width: 1em;
        }

        .#{$prefix}-label-metadata-title {
          width: 100%;
        }
      }
    }
  }
}
