$prefix: 'bmpui' !default;

$color-black: #000 !default;
$color-white: #fff;
$color-transparent: rgba(0, 0, 0, 0) !default;
$color-red: #f00 !default;
$color-smashcut-yellow: #fff000;
$color-smashcut-orange: #ee4923;
$color-bitmovin-blue: #1fabe2;
$color-smashcut-blue: #40c4ff;
$color-smashcut-gray: #363636;

$new-color-smashcut-black: rgb(24, 24, 24);
$new-color-smashcut-red: #dc4a28;
$new-color-smashcut-orange: #df481f;
$new-color-smashcut-blue: #3fc4ff;
$new-color-smashcut-green: #43a047;
$new-color-smashcut-yellow: #fff001;
$new-color-smashcut-gray: #9e9e9e;

$smashcut-grey-dark: #242424;


$color-highlight: $color-smashcut-orange;
$color-primary: #fff !default;
$color-secondary: #999 !default;

$color-background: #111 !default;
$color-background-highlight: transparentize(mix($color-black, $color-highlight, 75%), .3) !default;
$color-background-bars: transparentize($color-black, .3) !default;

$font-family: sans-serif !default;
$font-size: 1em !default;

$subtitle-text-color: #fff !default;
$subtitle-text-border-color: #000 !default;

$animation-duration: .3s !default;
$animation-duration-short: $animation-duration / 2 !default;

$controlbar-height: 64px;
